[Unit]
Description=telescope
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/telescope
ExecStart=/opt/telescope/jre/bin/java -jar tracker-server.jar conf/telescope.xml
SyslogIdentifier=telescope
SuccessExitStatus=143
WatchdogSec=600
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
